/* Search Result Card Style */

.search-result-card {
    max-width: 96%;
    background: #eee;
    border: 2px solid #757575;
    padding: 10px;
    margin: 4px auto;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-left: 5px solid var(--accent);

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0px 2px rgba(16, 16, 16, 8);
    }

    &.item-type-pen {
        --accent: #1070b0;
    }

    &.item-type-file {
        --accent: #10b070;
    }

    &.item-not-available {
        --accent: gray;
    }

    .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #757575;
    padding-bottom: 5px;
    overflow: auto;

        .profile-pic {
            width: 32px;
            height: 32px;
            padding: 4px 6px;
            margin-right: 10px;
        }

        .item-info {
            flex-grow: 1;

            .item-title  {
                display: block;
                font-size: 18px;
                color: #065f46;
                color: var(--accent);
            }
            .item-path {
                font-family: monospace;
                color: 333;
            }
        }

        .meta {
            text-align: right;
            color: #333;
        }
    }

    .body {
        padding: 10px 0;
        font-size: 14px;
        font-family: monospace;
        overflow: auto;
    }

    .action-buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }
    .action-buttons button {
        padding: 5px 10px;
        border: 1px solid #333;
        background: white;
        cursor: pointer;
        margin: 2px;
        border: none;
        background: inherit;
        transition: transform 0.2s;
    }
    .action-buttons button:hover {
        transform: scale(1.2);
    }
}


