/* Dashboard Style */


/* Top Links */

.dashboard-header {
    text-align: center;
    padding: 20px;
    background-color: #007BFF;
    color: #fff;
}
.dashboard-links {
    text-align: center;
    margin: 20px;
}
.dashboard-links a {
    text-decoration: none;
    color: #007BFF;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #007BFF;
    border-radius: 5px;
}
.dashboard-links a:hover {
    background-color: #007BFF;
    color: #fff;
}

/* Diractory Navigation */

.dir-nav {
    width: 90%;
    overflow: hidden;
    margin: 10px auto;
    font-size: 17px;
    font-family: monospace;
    padding: 4px 8px;
}

.dir-nav a {
    color: #2196f3;
    text-decoration: none;
}

.dir-nav a:hover {
    background-color: #ddeeff;
    border-radius: 4px;
    text-decoration: underline;
}

.dir-nav a.current {
    background-color: #ddeeff;
    text-decoration: underline;
}

/* File Filter */

#file-filter {
    display: block;
    width: 90%;
    height: 4rem;
    margin: auto;
}

#file-filter-input {
    display: block;
    width: 100%;
    height: 2rem;
}

#file-filter-status {
    margin-top: 0px;
    display: none;
    background-color: yellow;
    padding: 8px;
    border-radius: 0px 0px 6px 6px;
    text-align: center;
}

.main-container {
    width: 90%;
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.12);
}
