/* File Card Style */

.file-card {
    max-width: 96%;
    background: #eee;
    border: 2px solid #757575;
    padding: 10px;
    margin: 4px auto;
    border-left: 5px solid #10b981;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.file-card:hover {
    transform: translateY(-3px);
}

.file-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #757575;
    padding-bottom: 5px;
    overflow: auto;
}

.file-card .profile-pic {
    width: 32px;
    height: 32px;
    padding: 4px 6px;
    margin-right: 10px;
}

.file-info {
    flex-grow: 1;
}

.file-info .file-title {
    display: block;
    font-size: 18px;
    color :#065f46;
}

.file-info .file-path {
    color: 333;
}

.file-card-meta {
    text-align: right;
    font-size: 12px;
    color: #333;
}

.file-card-body {
    padding: 10px 0;
    font-size: 14px;
    font-family: monospace;
    overflow: auto;
}

.file-card-body .search-found {
    text-decoration: underline;
    background-color: yellow;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.action-buttons button {
    padding: 5px 10px;
    border: 1px solid #333;
    background: white;
    cursor: pointer;
    margin: 2px;
    border: none;
    background: inherit;
    transition: transform 0.2s;
}

.action-buttons button:hover {
    transform: scale(1.2);
}

/* File Card colors */

/* Lock */

.file-card.locked {
  border-left: 5px solid #3b82f6;
  background: #dbeafe;
}
.file-card.locked .file-title {
  color: #1e3a8a;
}

/* Visibility */

.file-card.hidden {
  border-left: 5px solid #334155;
  background: #dedede;
}
.file-card.hidden .file-title {
  color: #0f172a;
}

.file-card.once {
  border-left: 5px solid #64748b;
  background: #f1f5f9;
}
.file-card.once .file-title {
  color: #0f172a;
}

/* Type */

.file-card.media {
  border-left: 5px solid #8b5cf6;
  background: #ede9fe;
}
.file-card.media .file-title {
  color: #4c1d95;
}

