/* Uncomment for debugging */
/* * { outline: 1px solid rgb(255, 0, 255, 10) } */

html {
    scroll-behavior: smooth;
}

/* hoome css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e2e1e4;
}

h1 {
    text-align: center;
    padding: 20px;
}

.links {
    text-align: center;
    margin: 10px;
}
.links a {
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px;
    color: #007BFF;
}
.links a:hover {
    background-color: #007BFF;
    color: white;
}

/* search bar style */
.search-form {
    text-align: center;
    margin: 20px;
}
.search-form input[type="text"] {
    padding: 5px;
    font-size: 16px;
}
.search-form input[type="submit"] {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}


/* file show style */
.file-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.file-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.file-title {
    font-size: 24px;
    font-weight: bold;
}
.file-info {
    font-size: 14px;
    color: #777;
}
.file-content {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-family: "Courier New", monospace;
    max-height: 499px;
    overflow: scroll;
    overflowx: scroll;
}
.highlighttable td.linenos {
    padding-right: 10px;
    border-right: 1px solid #ccc;
}
.highlighttable td.code {
    padding-left: 10px;
}
.comment-section {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.comment-section textarea {
    width: 98%;
    height: 100px;
    padding: 8px;
    margin-top: 10px;
    resize: vertical;
}
.comment-section button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer;
}
.link-copy-box {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    //display: flex;
    align-items: center;
}
.link-copy-box h3 {
    margin-top: 0;
}
.link-copy-box input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-top: 10px;
}
.link-copy-box button {
background-color: #007BFF;
color: #fff;
border: none;
padding: 8px 16px;
margin-top: 10px;
margin-left: 10px;
cursor: pointer;
border-radius: 5px;
transition: background-color 0.2s;
//max-width: 20%;
}
.link-copy-box button:hover {
background-color: #0056b3;
}
.comment-card {
    max-width: 80%;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.comment-author img {
    height: 12px;
    width: 12px;
    margin-right: 2px;
}
.comment-author a{
    font-weight: bold;
    color: #2095f0;
    text-decoration: none;
}
.comment-time {
    color: #777;
}
.comment-content {
    margin-bottom: 10px;
    display: block;
    overflow: scroll;
}
.comment-content a {
    color: #2095f0;
    text-decoration: none;
}
.comment-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment-actions a {
    color: #007BFF;
    text-decoration: none;
    cursor: pointer;
}
.comment-actions a:hover {
    text-decoration: underline;
}


/* Nptification page css */
.notification-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .notification {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .notification img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .notification-content {
    flex: 1;
  }
  
  .notification-content a {
    text-decoration: none;
    color: #aaaaaa;
  }
  
  .notification-container .opened a{
    color: #222222;
  }
  
  .notification-content p {
    margin: 0;
    font-size: 14px;
  }

.error-msg {
	border: 1px dotted red;
	width: 90%;
	//margin: auto;
	margin-bottom: 6px;
	padding: 3px;
	color: red;
	background-color: #ffdddd;
}
.comments-activity-container {
    width: 80%;
    display: block;
    overflow: hidden;
}
.comment-activity {
    color: #123123;
    display: block;
}

.comment-activity a {
    color: #2196f3;
}
